:root {
  /* Colours */
  --color-text: #fff;
  --color-light-text: #8ba1fb;
  --color-primary: #576cbc;
  --color-secondary: #152d5b;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Poppins";
}
